body {
    background-color: rgb(165, 165, 165);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: black;
    border: none;
    width: 120%;
    margin: 0;
    padding: 0;
}

#casa {
    width: 3vw;
    position: relative;
    left: 600px;
    bottom: 20pt;
}

#informacao {
    width: 3vw;
    position: relative;
    left: 700px;
    bottom: 20pt;
}

#ideia {
    width: 3.5vw;
    position: relative;
    left: 640px;
    bottom: 20pt;   
}

#logo {
    width: 10vw;
}

#title {
    font-size: 5vw;
    position: relative;
    left: 7vw;
    top: 10vh;
}

#paragraph {
    font-size: 1.5vw;
    position: relative;
    left: 7vw;
    top: 10vh;
}

#img1 {
    width: 40vw;
    border-radius: 10px;
    position: relative;
    left: 70%;
    transform: translateX(-50%);
    bottom: 15vh;
}

#info{
    position: relative;
    left: 7%;
    bottom: 189px;
    width: 20%;
    padding: 20px;
    font-size: 30pt;
    border-radius: 10px;
    background-color: rgb(82, 82, 82);
    color: white;
}

#info:hover{
background-color: rgb(70, 142, 142);   
}

#quiz{
    position: relative;
    left: 7%;
    bottom: 189px;
    width: 20%;
    padding: 20px;
    font-size: 30pt;
    border-radius: 10px;
    background-color: rgb(82, 82, 82);
    color: white;
    
}

#quiz:hover{
    background-color: rgb(70, 142, 142); 
}



@media (max-width: 768px) {
    #title, #paragraph {
        font-size: 6vw;
        left: 5vw;
        top: 8vh;
    }

    #img1 {
        width: 80vw;
        bottom: 10vh;
    }
}

@media (max-width: 480px) {
    #title {
        font-size: 7vw;
        left: 3vw;
        top: 6vh;
    }

    #paragraph {
        font-size: 2.5vw;
        left: 3vw;
        top: 6vh;
    }

    #img1 {
        width: 90vw;
        bottom: 5vh;
    }
}